body
{
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;

    margin: 0;
    padding: 0;

    background-color: #F2F1F0;
}

#outer-container
{
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
}

img
{
    display: block;
}
